* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ol,
ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}
body {
  font-family: "Nunito", sans-serif;
}
:root {
  --primary: #fea41e;
  --primary-hover: #fe831e;
  --secondary: #dbd3d3;
  --pure: #fff;
  --dark: #232323;
  --purple: #191943;
  --links: blue;
  --transition: all 0.3s ease-in-out;
}
a {
  text-decoration: none;
  display: inline-block;
}
/* header */
.header-top-strip {
  background-color: var(--dark);
  border-bottom: 1px solid var(--gray);
}
.header-upper {
  background-color: var(--dark);
}
.header-upper .input-group-text {
  background-color: var(--primary);
  border: none;
  cursor: pointer;
  transition: var(--transition);
}
.header-upper .input-group-text:hover {
  color: var(--secondary);
  background-color: var(--primary-hover);
}
.headerlogo {
  border: 2px solid transparent;
  width: max-content;
  padding: 3px 10px;
  border-radius: 3px;
  transition: var(--transition);
}
.headerlogo:hover {
  border: 2px solid white;
}
.header-upper-links > div {
  padding: 3px 10px;
  border-radius: 3px;
  transition: var(--transition);
  border: 2px solid transparent;
}
.header-upper-links > div:hover {
  border: 2px solid;
}
.header-upper-links > div > h6 {
  margin-bottom: 0;
  font-weight: 700;
}
.header-upper-links > div > span {
  color: rgb(161, 155, 155);
}
.header-lower {
  position: sticky;
  top: 0;
  z-index: 3;
  background-color: var(--purple);
}
.header-lower-links {
  border: 2px solid transparent;
  padding: 3px 10px;
  border-radius: 10px;
  transition: var(--transition);
}
.activepage {
  border: 2px solid var(--primary-hover);
}
.header-lower-links:hover {
  border: 2px solid;
}
.header-lower-dropdown {
  position: relative;
  border-right: 1px solid var(--gray);
}
.header-lower-dropdown > .btn {
  background: none;
  border: none;
}
.header-lower-dropdown > .btn:hover {
  color: var(--primary);
}
.header-lower-dropdown > .btn:focus {
  box-shadow: none;
  color: var(--primary);
}
.header-lower-dropdown > .dropdown-menu {
  width: 100%;
  background-color: var(--dark);
  transform: translate3d(0px, 43px, 0px) !important;
}
.header-lower-dropdown .dropdown-menu .dropdown-item:hover {
  background-color: var(--gray);
}
.header-lower-dropdown .dropdown-menu .dropdown-item {
  border-bottom: 1px solid var(--gray);
}
.dropdownlogout {
  position: relative;
  display: inline-block;
}

.dropdown-contentlogout {
  display: none;
  position: absolute;
  border-radius: 30px;
  border: none;
  color: white;
  cursor: pointer;
  min-width: 100px;
  text-align: center;
  background-color: var(--primary-hover);
  z-index: 5;
}
.dropdownlogout:hover .dropdown-contentlogout {
  display: block;
}

.headersearch {
  padding: 0;
  height: 35px;
  border: 3px solid var(--primary);
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.headersearch > button {
  background-color: var(--primary-hover);
  color: white;
  padding: 0 10px;
  height: 100%;
  border: solid black;
  border: none;
}
.headersearchitem {
  position: relative;
  display: flex;
  align-items: center;
  gap: 5px;
  cursor: pointer;
}
.headersearchitem,
span,
headericon {
  color: gray;
}
.headersearch input {
  border: none;
  outline: none;
}
.datepicker {
  position: absolute;
  z-index: 1;
  top: -100px;
  left: -400px;
}
.options {
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 10px;
  z-index: 1;
  left: -45px;
  background-color: white;
  border: 2px solid black;
  border-radius: 5px;
  padding: 15px;
  top: 50px;
}

.options > .optionsitem {
  display: flex;
  gap: 100px;
  justify-content: space-between;
}
.optionsitem > div {
  display: flex;
  align-items: center;
  gap: 15px;
}
.optionsitem button {
  padding: 0 8px;
  border: none;
  background-color: var(--primary-hover);
}
/* home page */
.textblur {
  text-shadow: 0 0 5px black;
}
.carouselimage {
  max-width: 100%;
  max-height: 100%;
}
.placeimg {
  height: 100px;
  width: 100px;
}
.featurecontainer {
  overflow: hidden;
  border-radius: 10px;
  position: relative;
}
.featurecontainer > img {
  height: 100%;
  border-radius: 10px;
}
.featurecontainer .info {
  position: absolute;
  top: 30px;
  color: var(--pure);
  padding: 0 10px;
}
/* footer */
.footer-top {
  background-color: var(--purple);
  color: var(--pure);
}
.footer-top .div {
  display: flex;
  flex-direction: column;
  gap: 5px;
  color: var(--secondary);
}
.footer-top .div > span {
  cursor: pointer;
  width: max-content;
}
.footer-top .div > span:hover {
  cursor: pointer;
  text-decoration: underline var(--pure);
}
.appsdownload {
  display: flex;
  gap: 10px;
}
.appsdownload > .img {
  cursor: pointer;
  height: 50px;
}
/* search */
.newtry {
  position: relative;
  border: 1px solid var(--secondary);
  display: flex;
  padding: 5px;
  overflow: hidden;
  align-items: center;
  justify-content: center;
}
.newtry1 > img {
  height: 100%;
  width: 100%;
}
.newtry1 {
  width: 300px;
  margin-right: 20px;
  height: 200px;
  object-fit: contain;
}
.newtry2 {
  display: flex;
  background-color: var(--pure);
  justify-content: space-between;
  align-items: center;
  border-radius: 0 10px 10px 0;
}
.newtry2 > .buttons {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-left: 20px;
}
.storeproduct {
  object-fit: cover;
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  gap: 2px;
}
.sort {
  gap: 20px;
  display: flex;
  align-items: center;
  justify-content: end;
}
.sort p {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.sort > p > select {
  margin-left: 10px;
  border: none;
  background-color: var(--secondary);
  border-radius: 10px;
  padding: 0px 20px;
  outline: none;
}
/* search */
.content {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.service1 {
  background-color: var(--primary-hover);
  width: max-content;
  padding: 0 5px;
  border-radius: 10px;
  color: white;
}
.Excellent {
  height: 100%;
}
.seemore {
  background-color: var(--primary);
  border: none;
  padding: 5px;
  border-radius: 30px;
  color: var(--purple);
  transition: var(--transition);
}
.seemore:hover {
  background-color: #fe831e;
}
.imageheight {
  height: 250px;
}
/* admin */
.trigger {
  padding: 0 24px;
  font-size: 18px;
  line-height: 64px;
  cursor: pointer;
  transition: color 0.3s;
}

.trigger:hover {
  color: #1890ff;
}

.logo {
  height: 32px;
  margin: 16px;
  background: rgba(255, 255, 255, 0.3);
}
.adminlayout {
  height: 100vh !important;
}
.hotelslist {
  position: relative;
}
.addrooms {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.627);
  width: 100%;
  height: 85vh;
  top: 0px;
  left: 0px;
}

.timedate {
  border: solid var(--primary-hover);
}
.reserve {
  width: 100vw;
  z-index: 99;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.364);
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.roomscontainer {
  padding: 10px;
  height: 60vh;
  overflow-y: scroll;
}
.roomscontainer::-webkit-scrollbar {
  width: 5px;
  background-color: #bebfc0;
  border-radius: 30px;
}
.roomscontainer::-webkit-scrollbar-button {
  width: 5px;
  height: 20px;
}
.innerreserve {
  padding: 10px;
  position: relative;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: white;
  width: 40%;
}
.innerreserve > button {
  margin: auto;
  color: white;
  background-color: var(--primary);
  width: 50%;
  border: none;
  padding: 5px;
  transition: var(--transition);
}
.innerreserve > button:hover {
  background-color: var(--primary-hover);
}
.cancel {
  height: max-content;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  padding: 5px 15px;
}
.reservation {
  padding: 10px 0;
  border-bottom: 1px solid var(--secondary);
}
.closebth {
  position: absolute;
  right: 0;
  margin-right: 10px;
}
.maxcontainer {
  height: 50vh;
}

img:hover {
  cursor: pointer;
  transition: var(--transition);
  transform: scale(1.1);
}

.guestlike {
  height: 100%;
  overflow: hidden;
}
.guestlike img {
  min-width: 100%;
  min-height: 100%;
}

.homelike {
  height: 65%;
  overflow: hidden;
}
.homelike img {
  min-width: 100%;
  min-height: 100%;
}

/* for mobile view */
@media screen and (max-width: 480px) {
  .headermobile {
    position: relative;
    display: flex;
    gap: 5px;
    flex-direction: column;
  }
  .headersearch {
    width: 98%;
    margin-top: 10px;
  }
  .headerlogo {
    margin-right: 250px;
  }
  .header-upper-links {
    position: absolute;
    top: 0px;
    right: 10px;
  }
  .menu-links {
    display: flex;
    overflow: scroll;
  }
  .menu-links::-webkit-scrollbar {
    display: none;
  }
  .header-lower-links {
    width: max-content;
  }
  .mobilehomefirst {
    display: flex;
    flex-direction: column;
  }
  .featurecontainer,
  .mobileproperty {
    width: 100%;
  }
  .mobilenone {
    display: none;
  }
  .mobilefooter {
    gap: 130px;
    margin-right: 25px;
  }
  .sort {
    margin-top: 10px;
  }
  .sort > .price input {
    border: 1px solid;
    width: 70px;
  }
  .innerreserve {
    width: 80%;
  }
}
